body {
  margin: 0;
  padding: 0;
}

* {
  color: #333333;
  font-family: 'Source Sans Pro', sans-serif;
}

hr {
  border: 0;
  border-top: 1px solid #333333;
  display: block;
  height: 1px;
  margin: 0;
  opacity: 0.2;
  padding: 0;
}

h1 {
  color: #d60707;
  padding: 0 1em;
}

em {
  opacity: 0.5;
}

button {
  background: #d60707;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 110%;
  font-weight: 300;
  margin: 0 0.75em 0 1.5em;
  padding: 0.5em;
}

button:hover {
  background: #ff2f2f;
}

ol {
  counter-reset: li;
  list-style: none;
  margin: 0.5em;
}

li {
  counter-increment: li;
}

li::before {
  color: rgba(51, 51, 51, 0.3);
  content: counter(li);
  display: inline-block;
  margin-left: -1em;
  width: 1em;
}

main {
  padding-bottom: 2em;
}

main section {
  display: block;
  margin: 0;
  padding: 0.5em 0 1em 0;
  width: 100%;
}

main section:nth-of-type(odd) {
  background: linear-gradient(to right, rgba(51, 51, 51, 0.06) 300px, transparent 500px);
}

footer {
  background: #333333;
  bottom: 0;
  color: #ffffff;
  display: block;
  font-size: 80%;
  left: 0;
  padding: 0.8em;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer > a {
  color: #ffffff;
  text-decoration: none;
}

footer > a:hover {
  text-decoration: underline;
}
